#contact-a {
  color: $black;
  margin-bottom: 2rem;

  .form {

    input,
    textarea {
      display: block;
      width: 100%;
      font-size: 1rem;
      padding: 0.5rem;
    }

    &__input {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      @media(orientation: landscape) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    textarea {
      display: block;
      font-size: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &__button {
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-align: center;

      button {
        font-size: 1rem;
        border: none;
        width: 100%;
        max-width: 600px;
        color: $white;
        background-color: lighten($color: $black, $amount: 10%);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        transition: all $transition-time linear;
        cursor: pointer;

        &:hover {
          background-color: $yellow;
        }
      }
    }
  }
}

#contact-b {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: lighten($color: $black, $amount: 10%);

  @media(orientation: landscape) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .connect-container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    @media(orientation: landscape) {
      grid-template-columns: repeat(3, 1fr);
    }

    .item {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px dotted darken($color: $white, $amount: 60%);

      &:last-child {
        border: none;
      }

      @media(orientation: landscape) {
        border: none;
      }

      &__icon {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
      }

      &__header {
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }

      &__paragraph {
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
}